// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "ui_font_weight": 400.0,
  "title_bar": {
    "show_menus": true
  },
  "scrollbar": {
    "axes": {
      "vertical": true
    },
    "show": "auto"
  },
  "minimap": {
    "show": "auto",
    "max_width_columns": 80
  },
  "disable_ai": true,
  "project_panel": {
    "dock": "left"
  },
  "tabs": {
    "git_status": false
  },
  "tab_bar": {
    "show": true
  },
  "terminal": {
    "font_size": 13.0,
    "button": true
  },
  "ssh_connections": [
    {
      "host": "192.168.50.250",
      "username": "root",
      "args": [],
      "projects": [
        {
          "paths": [
            "/root/projects/mystudio"
          ]
        }
      ],
      "nickname": "dev"
    }
  ],
  "buffer_font_size": 15,
  "theme": {
    "mode": "system",
    "light": "Ayu Light",
    "dark": "Ayu Dark",
  },
}
